.ulBlack {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(75, 73, 73);
}

.liFloat {
    float: left;
}

.liAnchor {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.liAnchor:hover {
    background-color: #111;
}